/* styles go here */
.fieldset-block:not(:first-child) {
  margin-top: 20px;
}

.fieldset-block > .label:not(:first-of-type) {
  padding-top: 10px;
  display: block;
}

.button {
  display: block;
  margin-top: 20px;
}
